
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body {  
    font-family: 'inter';
    padding: 20px;
    background-color: #f2f2f2;
}

form{
    margin-bottom: 20px;
}

input{
    margin-right: 10px;
    padding: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    }

    li{
        background: white;
        margin: 5px 0;
        padding: 10px;
        border-left: 5px solid #4caf50;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .completed {
        text-decoration: line-through;
        opacity: 0.6;
    }
    









